@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
}
}

@keyframes fall {
    from {
        top: 0%;
    }
    to {
        top: 100%;
    }
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Honk', system-ui;
    background-color: pink;
}

#global {
    position: relative;
    width: 100%;
    height: 100%;
}

#frame {
    position: relative;
    border: solid 1px black;
    background-image: url("image.jpg");
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

#game {
    position: relative;
    display: flex;
    gap: 100px;
}

#banner {
    margin: 0px;
    position: relative;
    background-color: black;
    height: 50px;
    font-size: xx-large;
}

#bottlePic {
    position: relative;
    height: 100%;
    background-image: url("https://media.maxiburo.fr/j2svp/zoom/00/56/00564.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#bladder {
    position: relative;
    border: solid 2px black;
    border-top: 0px;
    width: 250px;
    height: 500px;
    display: flex;
    align-items: flex-end;
}

#urine {
    position: relative;
    background-color: rgb(255,220,101);
    width: 250px;
    height: 0px;
}

.pixelLine {
    position: relative;
    display: flex;
}

.pixel {
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 5px;
    width: 5px;
}

.rotate {
    animation: rotation 2s infinite linear;
}

.fun {
    position: absolute;
}

.fall {
    top: 100%;
    animation: fall 2s linear;
}